<% include ../partials/header.ejs %>

<h3>Create Customer</h3>

<p><a href="/customers">Customers</a></p>

<form method="post">
    <input type="text" id="name" name="name" placeholder="Put Name here!" />
    <button type="submmit">Create</button>
</form>

<% include ../partials/footer.ejs %>
