<% include ../partials/header.ejs %>

<h3>Create Customer</h3>

<p><a href="/customers">Customer List</a></p>

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Put Name here!" />
    </div>
    <div class="form-group">
        <label for="birt_hday">Birthday</label>
        <input type="text" class="form-control" id="birth_day" name="birth_day" placeholder="Put birthday here!" />
    </div>
    <button type="submmit" class="btn btn-primary">Create</button>
</form>

<% include ../partials/footer.ejs %>
