<% include ../partials/header.ejs %>

<h3>Update Customer (<%= customer.id %>)</h3>

<p><a href="/customers">Customers</a></p>

<form method="post">
    <input 
        type="text" 
        id="name" 
        name="name" 
        placeholder="Put Name here!" 
        value="<%= customer.name %>"
    />
    <button type="submmit">Update</button>
</form>

<% include ../partials/footer.ejs %>
